.container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
}

.inpBox {
    width: 100%;
    padding: 10px;
    font-size: 27px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.buttonBox {
    width: 42px;
    height: 50px;
    font-size: 29px;
    margin: 5px;
    border-radius: 37%;
}
.buttonBox:hover{
background-color: cadetblue;
}
.clr:hover{
background-color: red!important;
}

/* @media (min-width:1180px) {
    .buttonBox {
        width: 73px;
        height: 70px;
        font-size: 36px;
        margin: 5px;
        border-radius: 37%;
    }
    
} */
@media (min-width:600px) {
    .buttonBox {
        width: 73px;
        height: 70px;
        font-size: 36px;
        margin: 5px;
        border-radius: 37%;
    }
    
}

@media (max-width:500px) {
    .buttonBox {
        margin: 5px;
        border-radius: 37%;
    }
    .inpBox {
        width: 210px;
        padding: 10px;
        font-size: 27px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }
    /* .container{
        min-width: 400px;
    } */
}

@media (min-width:400px) {
    .buttonBox {
        width: 73px;
        height: 70px;
        font-size: 32px;
        margin: 5px;
        border-radius: 37%;
    }
}